h2 {
	color: red;
	font-size: 20px;
	margin: 0 auto;
	padding: 10px;
	font-style: italic;
	overflow: hidden;
	background-color: red;
}

p {
	font-size: 12px;
	color: lime;
}

div {
	background-color: blueviolet;
	border-radius: 50%;
<<<<<<< HEAD
	color: blue;
=======
	overflow: hidden;
>>>>>>> 69d8e5e (add overflow)
}

